*{
    margin: 0;
    padding: 0;
}
:root{
    --blue:#2563EA;
    --white:#FAFAFA;
    --popins:"Poppins", sans-serif;
    --display:"DM Serif Display", serif;
}
body{
    font-family: var(--popins);
    font-size: 14px;
    background-color: var(--white);
    height: 100vh;
    overflow: hidden;
}
/* Header */
header{
    background-color: var(--blue);
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1{
    font-size: 32px;
    font-family: var(--display);
}

/* Main */
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
    height: calc(100vh - 60px - 40px);
    box-sizing: border-box;
    gap: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.create{
    background-color: var(--blue);
    height: 40px;
    width: 50%;
    border-radius: 20px;
    margin-bottom: 30px;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 20px;
}
.btn-list{
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    padding:0 40px;
    margin-bottom: 30px;
}
.btn-list button{
    height: 40px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin-left: 20px;
}
.btn-list .edit{
    background-color: var(--blue);
}
.btn-list .delete{
    background-color: red;
}
.d-none{
    display: none !important;
}
.message{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.form-container{
    padding: 30px;
}
form{
    display: flex;
    flex-direction: column;
}
.form-group{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 5px;
    font-size: 16px;
}
.input-title{
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 20px;
}
.input-body{
    border-radius: 10px;
    height: 40vh;
    border: 1px solid black;
    padding: 10px 10px;
    font-size: 16px;
    margin-bottom: 20px;
}
.btn-group{
    display: flex;
    width: 50vw;
    justify-content: space-around;
}
.btn-cancel{
    background-color: red;
    border: none;
    border-radius: 24px;
    width: 45%;
    height: 40px;
    color:white;
    font-size: 16px;
}
.btn-save{
    background-color: var(--blue);
    border: none;
    border-radius: 24px;
    width: 45%;
    height: 40px;
    color: white;
    font-size: 16px;
}


/* Footer */
footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 40px;
    display: grid;
    align-items: center;
}

@media screen and (max-width: 991px) {
    main{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 30px;
        height: calc(100vh - 60px - 40px);
        box-sizing: border-box;
        gap: 10px;
    }
    .create{
        width: 60%;
    }
    .btn-group{
        width: 90vw;
    }
    .active{
        display: flex;
    }
    .not-active{
        display: none;
    }
}